.menu{
    background: rgb(247, 0, 0);
    align-items: center;
}
.nav-bar{
    display: flex;    background-color: black;
    align-items: center;
}
.item-lista{
    background-color: white;
    align-items: center;
    
}